.home-category-wrapper div.row.row-cols-6 {
  overflow-x: scroll;
  white-space: nowrap;
}

div.category-item {
  width: 80px;
  margin-top: 60px;
  margin-bottom: 50px;
}
div.category-item a p {
  text-align: center;
}

div.category-item a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #000;
}
div.category-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .home-category-wrapper div.col {
 
    width: 90px;
    padding-left: 0;
  }
}
  
